@use '../../base/mixins' as m;
@use '../../base/variables' as v; 

.nosotros {
    &__grid {
        @include m.tablet {
            @include m.grid(2, 3rem); 
            align-items: center;
        }
    }

    &__imagen {
        height: 100%;
        width: 100%;
        object-fit: cover;
        
        &-contenedor {
            height: 40rem;
            box-shadow: 1px 1px 10px 7px rgb(0 0 0 / 0.25);
            border-radius: 1rem;
            overflow: hidden;
            @include m.tablet {
                height: 100%;
            }
        }
    }

    &__contenido {
        line-height: 2;
        p {
            margin: 2rem 0 0 0;
            @include m.tablet {
                margin-top: 0;
            }
        }
    }
}