@use '../base/mixins' as m;
@use '../base/variables' as v; 

.header {
    padding: 5rem 0;  
    height: 100vh; 
    @include m.bg-image('../img/header.jpg', v.$secundarioOpacity);

    @include m.tablet {
        height: auto;
    }

    &__logo {
        max-width: 20rem;
        margin: 0 auto;

        @include m.tablet {
            margin: 0;            
        }
    }

    &__contenido {
        padding: 10rem 0;
    }

    &__titulo {
        color: v.$blanco;
        font-size: 4.5rem;
        margin-bottom: 3rem;
        @include m.tablet {
            font-size: 6rem;
            max-width: 50%;
        }
    }
}