//fuentes 
$fuentePrincipal: 'Roboto', sans-serif; 
$fuenteSecundaria: 'Raleway', sans-serif; 
$fuenteCursiva: 'Bona Nova', sans-serif; 

//colores 
$primario: #5e311e; 
$secundario: #c39c63; 
$cafeClaro: #ebe7de;
$negro: #000; 
$blanco: #fff; 
$grisClaro: #eceeef; 
