@use '../base/mixins' as m;
@use '../base/variables' as v;

.busqueda {
    background-color: v.$grisClaro;
    padding: 5rem 0;

    &__heading {
        @include m.heading;

        
        &::after {
            content: '';
            display: block;
            width: 2rem;
            height: 2rem;
            background-image: url(../img/arrow-down.png);
            background-size: 2rem;
        }
    }
}

.formulario {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include m.tablet {
        justify-content: center;
        flex-direction: row;
    }


    &__campo {
        padding: 1rem;
        border: 0.1rem solid lighten(v.$gris, 50%);
        border-radius: 0.5rem;

        &--select {
            background-image: url(../img/arrow-down.png);
            background-size: 2rem;
            background-repeat: no-repeat;
            background-position: 99% center;
            appearance: none;
            
            @include m.tablet {
                background-position: 95% center;
            }
        }

        &:focus-visible {
            outline-color: v.$primario;
        }
    }

    &__submit {
        @include m.boton(v.$primario, v.$blanco);
        margin: 0;
    }
}